<html>
        <head>
            <title>clarkson msda summary</title>
            <link rel="stylesheet" type="text/css" href="static/style.css">
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        </head>

        <body>
        <div id="content">
          <div class="clarksonImg">
            <header>
                <img src="https://moodle.clarkson.edu/pluginfile.php/1/theme_mb2nl/logo/1704383830/Clarkson%20University%20Logo%20no%20shield.png" alt="Header Image">
            </header>
        </div>
        
        <div class="heading">
            <h1>MSDA Summary Dashboard</h1>
        </div>
          {% block content %}
          {% endblock %}
        </div>
        <script type="application/javascript">
        </script>

		</body>
    
    </html>